.hero__section {
  background-color: var(--hero-bg);
  /* filter: hue-rotate(230deg); */
  /* Đổi màu sang màu xanh lá cây */
}

.hero__content.hidden,
.hero__image.hidden {
  column-gap: 2rem;
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateY(10%);
}

.hero__content.show,
.hero__image.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.hero__image {
  position: relative;
  margin-left: 80px;
}

.hero__image img {
  animation: 5s animation ease-in-out infinite 1s;
}

@keyframes animation {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hero__content {
  margin-top: 50px;
}

.hero__section h2 {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin: 20px 0px;
}

.hero__section p:nth-child(1) {
  color: var(--primary-color);
  font-weight: 600;
}

.hero__section p {
  color: var(--primary-color);
  line-height: 28px;
}

.buy__btn {
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 40px;
  box-shadow: 1px 3px 3px #444;
}

.buy__btn:hover {
  transform: translateY(3px);
  box-shadow: 0px 0px 0px #444;
}

.buy__btn:hover a {
  color: #fff;
}

.hero__content {
  padding-top: 15px;
}

.timer__count {
  position: relative;
  top: -230px;
  /* background-color: rgb(71, 152, 147); */
  background: linear-gradient(to bottom right, #f42f8a, #159245);
  height: 300px;
}

.timer__count img {
  width: 70% !important;
  height: 70% !important;
  object-fit: contain;
}

.section__title {
  /* text-align: center; */
  /* width: 400px; */
  position: relative;
  top: -230px;
  color: white;
  font-weight: 700;
  /* text-shadow: 2px 2px 5px #159245, 3px 4px 5px #159245; */
  text-shadow: 1px 1px 5px #07c954, 3px 4px 5px #159245;
  -webkit-text-stroke: 1px #111;
  text-transform: uppercase;
}

.best__sales {
  position: relative;
  top: -80px;
  /* background-color: #f42f8a; */
  height: 650px;
}
